In [1]:
import csv
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
# Obtain all player_id from webscraped csv file
player_id = []

with open('players.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for row in csvReader:
        player_id.append(row[1])

print(player_id[1:30])

['Kurbelfreund', 'FIameEmperor', 'hirosiBMX', 'ReM-3413-', 'jonasport27', 'Ansuzu1jp', 'X33N33', 'HEX-_-00R', 'L880K', 'ashtonj85', 'nixnax__96', 'HAWKbest', 'a223622362236', 'Rachel_1123', 'JkSPindependente', 'ferrety23', 'EL_CURANDERO__', 'ayataso2525', 'Bekem34', 'Approaching-ECS', 'GeordieGayl', 'JustinMacGregor', 'metzka91', 'rn5408mx', 'OBAMA-DAITOORYOO', 'Sir-Payne-', 'KILLINOIS420_', 'EtceteIa', 'samysas20']

In [4]:
# how do you create a key for the requested json file like this [Kurbelfreund:{[player:,stats:,dogtags:]}]
url_link = "https://api.bf4stats.com/api/playerInfo?plat=ps4&name=" + "FIameEmperor" + "&output=json"
res = requests.get(url_link)
j = res.json()
j.keys()

dict_keys(['player', 'stats', 'dogtags', 'weapons', 'weaponCategory', 'kititems', 'vehicles', 'vehicleCategory', 'awards', 'assignments', 'upcomingUnlocks'])

In [5]:
# how do you string player data together? the append function?
json_normalize(j['player'])

,adminable,blPlayer,blUser,country,countryName,dateCheck,dateCreate,dateStreak,dateUpdate,editable,...,rank.next,rank.nr,score,tag,timePlayed,uGava,uId,uName,udCreate,viewable
0,False,http://battlelog.battlefield.com/bf4/soldier/F...,http://battlelog.battlefield.com/bf4/user/FIam...,JP,Japan,1560992549236,1384979345135,1560730681288,1560730681288,False,...,None,140,372920445,,21715400,,2955056040917604243,FIameEmperor,1383712641000,True

In [6]:
json_normalize(j['stats'])

,avengerKills,bestStreak,deaths,dogtagsTaken,elo,extra.accuracy,extra.assignments,extra.assignmentsTotal,extra.gspm,extra.hkp,...,scores.unlock,scores.vehicle,shotsFired,shotsHit,skill,streak,suppressionAssists,timePlayed,vehicleDamage,vehiclesDestroyed
0,41727,31,70511,117,0,52.561852,53,108,348.126215,4.756358,...,102900,210104000,18216900,9575140,773,0,28955,21715400,58898,64627

In [7]:
json_normalize(j['dogtags'])

,advanced.category,advanced.desc,advanced.id,advanced.image,advanced.img,advanced.license,advanced.name,basic.category,basic.desc,basic.id,basic.image,basic.img,basic.license,basic.name
0,DTC_Battlepacks,This unique Dog Tag is unlocked via Silver or ...,266,advanced266,bf4/dogtags/advanced266.png,dtbp016,Achtung Panzer Dog Tag,DTC_Misc,The default blank Dog Tag,0,basic0,bf4/dogtags/basic0.png,None,Default Dog Tag

In [8]:
#create dummy variables for each line of data? 
json_normalize(j['weaponCategory'])

,extra.accuracy,extra.hkp,extra.kpm,extra.sfpm,extra.spm,name,stat.hits,stat.hs,stat.kills,stat.score,stat.shots,stat.time
0,83.236630,0.543940,0.392301,207.583146,0.000000,GADGET,2591113,32,5883,NaN,3112948,899769
1,32.673267,37.500000,0.637450,8.047809,1020.717131,SNIPER RIFLE,33,3,8,12810.0,101,753
2,19.319940,13.624388,2.637701,72.492596,337.695859,PDW,42324,1086,7971,1020500.0,219069,181317
3,20.071705,15.515597,2.391956,64.013267,323.714642,CARBINE,152053,4392,28307,3830920.0,757549,710055
4,35.259259,8.633094,1.791237,8.698454,0.000000,BATTLE PICKUP,238,12,139,NaN,675,4656
5,13.708820,17.721519,1.742647,62.272059,216.375000,LMG,387,14,79,9809.0,2823,2720
6,45.419492,0.000000,8.377088,67.589499,1046.500239,GRENADE,10719,0,2925,365403.0,23600,20950
7,21.120690,10.000000,1.408451,16.338028,155.774648,DMR,49,2,20,2212.0,232,852
8,21.676376,16.361765,3.321613,79.683111,428.010851,ASSAULT RIFLE,419261,13192,80627,10389300.0,1934184,1456407
9,0.000000,0.000000,0.000000,0.000000,0.000000,KNIFE,0,0,117,NaN,0,0
10,121.673576,5.211661,4.920235,11.908335,672.074373,SHOTGUN,58991,1044,20032,2736250.0,48483,244281
11,20.986714,13.510760,3.304787,72.948133,419.047659,SIDEARM,36379,1061,7853,995762.0,173343,142575